<div id="front">
<div class="container" id="main"></div>
<div ng-include="'mainnav.html'"></div>
<div class="row">
    <div class="col-sm-12" id="topbuffer">
        <div id="welcome-text">
            <h1 id="site-name">M A S A A W O</h1>
            <p id="subtitle">Register</p>
        </div>
    </div>
    <div class="col-md-12" id="mainarea">
        <form ng-submit="register()">
            <div id="loginform">
                <small class="error" id="message">{{ error_message }}</small>
                <div class="form-group row">
                        <label for="inputPassword" id="falselabel" class="col-sm-3 col-form-label">Phonenumber</label>
                        <div class="col-sm-9">
                                <input type="text" maxlength="10" class="form-control" id="phonenumber" placeholder="Your number so we can contact you" ng-model="user.phonenumber" onkeyup="checkphonenumber();" required/>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="inputPassword" id="falselabel" class="col-sm-3 col-form-label">Password</label>
                        <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" placeholder=".eg *********** " ng-model="user.password" required/>
                        </div>
                </div>
                <div class="form-group row">
                        <label for="inputPassword" id="falselabel" class="col-sm-3 col-form-label">Repeat Password</label>
                        <div class="col-sm-9">
                                <input type="password" class="form-control" id="confirm_password" placeholder=".eg *********** "  onkeyup='check();' required/>
                        </div>
                </div>
                <button type="submit" id="login-submit" class="btn btn-primary" value="Register">Register</button>
                </div>
        </form>
    </div></div></div>
    <div id="fin">
	</div>